
<div class="row">
  <h1 class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1">Senators</h1>
  <div id="memberTable" class="navbar-default col-md-4 col-lg-4 col-sm-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1">
      <mat-table id="table2" #table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container  matColumnDef="last_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let member" [class.selected]="member === selectedMember" (click) = "onSelect(member)">
            {{member.first_name}}
            {{member.last_name}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="party">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Party </mat-header-cell>
          <mat-cell *matCellDef="let member" (click) = "onSelect(member)">
            <span [ngClass]="{'dem': member.party==='D', 'rep' : member.party == 'R'}">({{member.party}})</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="votes_with_party_pct">
          <mat-header-cell *matHeaderCellDef mat-sort-header > Loyalty </mat-header-cell>
          <mat-cell *matCellDef="let member" [class.selected]="member === selectedMember" (click) = "onSelect(member)"> {{ ((member.votes_with_party_pct)).toFixed(1) }}% </mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef mat-sort-header > State </mat-header-cell>
          <mat-cell *matCellDef="let member" [class.selected]="member === selectedMember" (click) = "onSelect(member)"> {{member.state}} </mat-cell>
        </ng-container>

        <ng-container *ngIf="user" matColumnDef="favorite">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Favorite </mat-header-cell>
          <mat-cell *matCellDef="let member" [class.selected]="member === selectedMember" (click) = "onSelect(member)">
            <button id="favoriteButton" (click) = "onFavorite(member)">
              <mat-icon [ngClass]="{'favIcon': favoriteList.includes(member.last_name), 'favIconNot' : !favoriteList.includes(member.last_name)}">favorite</mat-icon>
          </button> </mat-cell>
        </ng-container>

        <ng-container  *ngIf="!user" matColumnDef="favorite">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Favorite </mat-header-cell>
          <mat-cell *matCellDef="let member" [class.selected]="member === selectedMember" (click) = "onSelect(member)">
            <button id="favoriteButton" (mouseenter)="mouseEnter('the favorite button')" (mouseleave) ="mouseLeave()">
              <mat-icon class="favIconNot">favorite</mat-icon>
            </button> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row  *matRowDef="let row; columns: displayedColumns;"
                  [ngClass]="{'highlight': selectedRowIndex == row.id}"
                  (click)="highlight(row)"
        ></mat-row>

      </mat-table>
    </div>
  <app-member-detail class="col-md-6 col-lg-6 col-sm-4" [member] = "selectedMember"></app-member-detail>


  </div>

<!-- Display User Favorites List-->
<div class="row" id="favoriteListBorder">
  <div class="container">
    <div class="col-md-3 col-lg-3" *ngIf="favoriteList">
      <h4>Favorite Senators: </h4>
      <div id="favoriteListDisplay">
        <ul *ngFor="let favorite of favoriteList">
          <li> {{ favorite }} </li>
        </ul>
      </div>
  </div>
</div>
</div>
