<nav id="reductionFooter" class="nav navbar-nav navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <div class="row">
    <div class="col">
     <ul id="footerTabs" class="list-inline">
        <li class="list-inline-item"><a class="navbar-link " routerLinkActive="active" routerLink="about">About Us</a></li>
        <li class="list-inline-item"><a class="navbar-link" routerLinkActive="active" routerLink="home">Podcasts</a></li>
        <li class="list-inline-item"><a class="navbar-link" routerLinkActive="active" routerLink="test">Test</a></li>
        <!--<li id="currentDate" class="list-inline-item"><p>{{ currentDate | date: 'ddMMyyyy' }}</p></li>-->
        <li id="currentDate" class="list-inline-item"><p>{{ currentDate }}</p></li>
      </ul>


    </div>

    </div>
  </div>
</nav>
