<body>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">

      <section id="aboutHeader">
        <h2>About Me</h2>
      </section>
      <section id="aboutSection3">
        <div class="container">
          <div class="row align-items-center col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6 order1 ">
              <img  class="center" src="https://images.unsplash.com/photo-1506886009355-7f3af05dd5d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=17db72d2c94844aba5a0b52db9bd4786&auto=format&fit=crop&w=1050&q=80"
                    class="img-circle img-responsive" alt="">
            </div>

            <div class=" col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 order2">
              <h1>The Reduction</h1>
              <p>
                This is where I will describe the goals of this site.  It is a work in progress and we will continue
                bringing the best content/information.  We have already have plans to develop a podcast and plan to integrate
                financial data.  The Reduction will give you everything you need to know in one place.
              </p>
            </div>

          </div>
        </div>
      </section>

      <section id="aboutSection2">
        <div class="container">
          <div class="row align-items-center col-lg-12 col-md-12">
            <div class=" col-lg-5 col-md-5 order1">
              <h1>Tyler Redshaw</h1>
              <p >
                This is Section 2.This is Section 2This is Section 2This is Section 2This is Section 2
                This is Section 2This is Section 2This is Section 2This is Section 2This is Section 2
                This is Section 2This is Section 2This is Section 2This is Section 2This is Section 2
              </p>
            </div>
            <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 order2 ">
              <img  class="center" src="https://media.licdn.com/dms/image/C4E03AQEg6Vn6wj6Kvg/profile-displayphoto-shrink_200_200/0?e=1529265600&v=beta&t=efMMFQQQR9UiW2Hh_pPG48QUxXqzC3xipco9s1u0RWA" id="profile-image1" class="img-circle img-responsive" alt="">
            </div>
          </div>
        </div>
      </section>

      <section id="aboutSection1">
        <div class="container">
          <div class="row align-items-center col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6 order1 ">
              <img  class="center" src="https://images.unsplash.com/photo-1516424716439-aeccb78c41c8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=078e7a887fb9630d1cf6d355341d3dc8&auto=format&fit=crop&w=1050&q=80" alt="">
            </div>

            <div class=" col-lg-6 col-md-6 order2">
              <h1>Tyler Redshaw</h1>
              <p>
                This site was built using the MEAN stack of web development technologies.  Policitical odds are
                pulled in asychronously courtesy of PredictIt.  The Senator profile information provided by Prorepublica.
                The Reduction has been a pet project for some time and I hope you will enjoy the provided functionality.
                I am an aspiring web developer and would love the opportunity to discuss potential opportunities.
              </p>
            </div>

          </div>
        </div>
      </section>





    </div>
    <section></section>
  </div>
</body>
