@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

#oddsGrid{
  border: solid firebrick 5px;

  margin-bottom: 25px;
  padding: 10px;
}
body{
  background-color: whitesmoke;
}
i{
  height: 40px;
}
