<div id="oddsGrid" class="row" *ngIf="odds">
  <h2>{{odds.ShortName}}</h2>
  <mat-grid-list class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1"
                 cols="{{colnum}}" rows = "1" rowHeight="60px">

    <mat-grid-tile *ngFor = "let odd of odds.Contracts" [rowspan]="1" [colspan]="1" [style.background]="'white'">
      {{odd.ShortName}}:&ensp;
      <div><span style="color: red">{{((odd.BestSellYesCost*100).toFixed(1))}}%</span></div>
      <!--<div><img style="height: 75%" src="{{odd.Image}}" alt=""></div>-->
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!--<div id="oddsGrid" class="row" *ngIf="odds">-->
  <!--<div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset3">-->
    <!--<h2>{{ odds.ShortName }}</h2>-->
      <!--<div>-->
        <!--<ul *ngFor="let i of odds.Contracts">-->
          <!--<li style="font-weight: bold">{{ i.ShortName }}</li>-->
          <!--<li>{{ ((i.BestSellYesCost)*100).toFixed(1) }}%</li>-->
        <!--</ul>-->
      <!--</div>-->
  <!--</div>-->
<!--</div>-->
