<div class="row">
  <div class="col-md-6 col-lg-6">
    <div class="container">
      <h1>The Map</h1>
    </div>
  </div>
</div>

<style>

  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 960px;
    height: 500px;
    position: relative;
  }

  /* stylesheet for your custom graph */

  .states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
  }

  .states-choropleth {
    fill: #ccc;
  }

  #tooltip-container {
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid;
    display: none;
  }

  .tooltip_key {
    font-weight: bold;
  }

  .tooltip_value {
    margin-left: 20px;
    float: right;
  }

</style>

<div id="tooltip-container"></div>

<div id="canvas-svg"></div>

