<body>
  <div class="row">
    <div class="container">
      <div id="featured">
        <div class="col-lg-12 col-md-12">
          <h1>The Odds</h1>
          <!--FEATURED TABLE-->
          <table *ngIf="featArray" class="table">

            <tr>
              <td>
                <img src="{{featArray[0].Image}}" alt=""></td>
              <td>
                <i><div>{{featArray[0].ShortName}}</div></i>
                <div *ngFor="let i of featArray[0].Contracts">
                  {{i.ShortName}}
                  {{ ((i.BestBuyYesCost*100).toFixed(1)) }}%
                </div>
              </td>
              <td>
                <img src="{{featArray[1].Image}}" alt=""></td>
              <td>
                <i><div>{{featArray[1].ShortName}}</div></i>
                <div *ngFor="let i of featArray[1].Contracts">
                  {{i.ShortName}}
                  {{ ((i.BestBuyYesCost*100).toFixed(1)) }}%
                </div>
              </td>
              </tr>

              <tr>
              <td>
                <img src="{{featArray[2].Image}}" alt=""></td>
              <td>
                <i><div>{{featArray[2].ShortName}}</div></i>
                <div *ngFor="let i of featArray[2].Contracts">
                  {{ ((i.BestBuyYesCost*100).toFixed(1)) }}%
                </div>
              </td>
              <td>
                <img src="{{featArray[3].Image}}" alt=""></td>
              <td>
                <i><div>{{featArray[3].ShortName}}</div></i>
                <div *ngFor="let i of featArray[3].Contracts">
                  {{ ((i.BestBuyYesCost*100).toFixed(1)) }}%
                </div>
              </td>
          </table>
        </div>
      </div>
      <div id="allOdds" class="container col-lg-12 col-md-12 well">
        <div class="container col-lg-12 col-md-12">
          <h4>Investigate:</h4> <span><button class="btn btn-primary " (click)="oddsPullAll()">Refresh All</button></span>
          <button class="btn btn-info " (click)="oddsPullFeaturedTest()">Refresh Featured</button>
          <!--dropdown-->
          <form>
            <mat-form-field>
              <!--<mat-select placeholder="Select an Odd" [(value)]="selected" >-->
              <mat-select placeholder="Select an Odd">
                <mat-option *ngFor="let item of oddsAll" value="{{ item.TickerSymbol }}" [class.selected]="item === selectedOdd" (click) = "onSelect(item)">{{ item.Name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>

          <!--app-odds-grid-->
          <div>
            <app-odds-grid [odds]="selectedOdd"> load </app-odds-grid>
          </div>
        </div>
      </div>
      <!--get one Odd-->
      <div id="theOddsMain" class="container">
      </div>
    </div>
  </div>
</body>
