#narrative{
  background-color: white;
}
#blogPost{
  padding-bottom: 50px;
}
body{
  padding-top: 51px;
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #8faee0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#authorProf{
  width: 75px;
  height: 75px;
}
p{
  font-size: 1.25em;
}
