<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="row" *ngIf="member">
  <div id="detailComp" class="well">
      <img id="profPic" src="{{member.prof}}">
      <h1>{{ member.first_name}} {{ member.last_name}}</h1>
      <h6> Twitter: @{{ member.twitter_account}} </h6>
      <h6> Website: <a target="#" href="{{member.url}}">{{member.url}}</a> </h6>
      <h6> Missed Votes: {{ member.missed_votes_pct}}% </h6>
      <h6> Up for Re-election in: {{ member.next_election}} </h6>
    <a class="twitter-timeline" data-width="300" data-height="400"
       href="https://twitter.com/SenatorBaldwin?ref_src=twsrc%5Etfw"
    >Tweets by SenatorBaldwin</a>
  </div>


</div>
