<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1519576558007-128b5f56caeb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14265b6c90716c3256b51f0265255a03&auto=format&fit=crop&w=1353&q=80')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>The Reduction</h1>
          <span class="subheading">One Stop Political Insight</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content -->
<div class="homeContent">
  <div class="row">
    <div class="col-lg-7 col-md-8 mx-auto">

      <div class="post-preview">
        <a routerLinkActive="active" routerLink="/theOdds">
          <h2 class="post-title">
            Live Political Odds
          </h2>
          <h3  class="post-subtitle">
            Updated every minute
          </h3>
        </a>
        <p class="post-meta">Currated by
          <a routerLinkActive="active" routerLink="/about">Tyler Redshaw</a>
          on May 25, 2018</p>
      </div>

      <hr>
      <div class="post-preview">
        <a routerLinkActive="active" routerLink="/politician">
          <h2 class="post-title">
            Check out Updates to Senator Profile Info
          </h2>
        </a>
        <p class="post-meta">Posted by
          <a routerLinkActive="active" routerLink="/about">TRedshaw</a>
          on March 15, 2018</p>
      </div>
      <hr>

      <div class="post-preview">
        <a routerLinkActive="active" routerLink="/narrative">
          <h2 class="post-title">
            Lorem Ipsum Dolor Sit Amet
          </h2>
          <h3 class="post-subtitle">
            Fusce a tincidunt turpis, non lacinia metus.</h3>
        </a>
        <p class="post-meta">Posted by
          <a routerLinkActive="active" routerLink="/about">TRedshaw</a>
          on December 30, 2017</p>
      </div>
    </div>
    <app-twitter-politics>Loading Timeline...</app-twitter-politics>
  </div>


</div>
